:where(.css-dev-only-do-not-override-15rg2km).ant-image .ant-image-mask {
    position: relative; 
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
     opacity: 0;
     transition: opacity 0.3s; 
}